.buildpath
.cache
.metadata
.project
.settings
atlassian*
nbproject
source/sitemap
.idea
.gitattributes
source/app/config_sandbox
source/app/etc/config.php
source/app/etc/env.php
source/pub/media/
source/app/code/Magento/TestModule*
source/lib/internal/flex/uploader/.actionScriptProperties
source/lib/internal/flex/uploader/.flexProperties
source/lib/internal/flex/uploader/.project
source/lib/internal/flex/uploader/.settings
source/lib/internal/flex/varien/.actionScriptProperties
source/lib/internal/flex/varien/.flexLibProperties
source/lib/internal/flex/varien/.project
source/lib/internal/flex/varien/.settings
source/node_modules
source/.grunt

source/pub/static/
!source/pub/static/.htaccess
!source/pub/media/.htaccess
source/var/
!source/var/.htaccess
!source/vendor
source/vendor/autoload.php
source/vendor/bin/
source/vendor/braintree/
source/vendor/colinmollenhour/
source/vendor/composer/
source/vendor/justinrainbow/
source/vendor/league/
source/vendor/magento/
source/vendor/monolog/
source/vendor/oyejorge/
source/vendor/pelago/
source/vendor/php-curl-class/
source/vendor/phpseclib/
source/vendor/psr/
source/vendor/seld/
source/vendor/sjparkinson/
source/vendor/symfony/
source/vendor/tedivm/
source/vendor/tubalmartin/
source/vendor/zendframework/
source/vendor/container-interop/
source/vendor/paragonie/
source/vendor/ramsey/
.vagrant/
extras/

source/update/
source/composer.json
source/.gitignore
source/app/etc/
source/app/*.*
source/bin/
source/dev/
source/generated/
source/lib/
source/phpserver/
source/pub/
source/setup/
source/update/
source/.htaccess
source/.htaccess.sample
source/.travis.yml
source/.user.ini
source/.php_cs.dist
source/auth.json.sample
source/CHANGELOG.md
source/composer.lock
source/CONTRIBUTING.md
source/COPYING.txt
source/grunt-config.json.sample
source/Gruntfile.js.sample
source/index.php
source/ISSUE_TEMPLATE.md
source/LICENSE.txt
source/LICENSE_AFL.txt
source/nginx.conf.sample
source/package.json.sample
source/php.ini.sample
source/PULL_REQUEST_TEMPLATE.md
source/vendor/.htaccess

*.retry

source/auth.json
source/info.php
source/*.log
*.log